:root {
  --color-text-error: #bd5e6d;
}

body {
  overflow: hidden !important;

  background: var(--v-theme-background);
}

#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
  background: rgb(var(--v-theme-background));
}
